<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客管理 - Trumpet Press Admin - 喇叭芽的博客</title>
    <link rel="icon" href="../../static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div th:replace="admin/_fragments::script">
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
    <!--[if lte IE 8]>
    <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</div>
<!-- 导航 -->
<header>
    <nav class="ui attached inverted segment" th:replace="admin/_fragments::navi">
        <div class="m-container">
            <div class="ui secondary stackable inverted menu">
                <a href="tp-admin.html"><h2 class="ui blue header item">Trumpet Press 后台管理系统</h2></a>
                <a href="tp-admin.html" class="m-nav-item item m-mobile-hide">后台管理首页</a>
                <a href="tp-articlelist.html" class="m-nav-item item m-mobile-hide">文章管理</a>
                <a href="tp-typelist.html" class="m-nav-item item m-mobile-hide">分类管理</a>
                <a href="tp-taglist.html" class="m-nav-item item m-mobile-hide">标签管理</a>
                <a href="tp-setting.html" class="m-nav-item item m-mobile-hide">系统设置</a>
                <div class="right m-nav-item m-mobile-hide menu">
                    <a href="../index.html" class="m-nav-item item m-mobile-hide">返回主页</a>
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/Avatar.jpg" alt="Avatar">
                            Admin
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui white icon button m-right-top m-mobile-show" id="menu-toggle">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui breadcrumb m-padding-tb">
                当前位置：
                <a href="tp-admin.html" class="section" th:href="@{/tp-admin/admin}">网站管理</a>
                <i class="right angle icon divider"></i>
                <a class="section" th:href="@{/tp-admin/articles}">文章管理</a>
                <i class="right angle icon divider"></i>
                <div class="active section">博客列表</div>
            </div>
            <div class="right menu">
                <a href="tp-article.html" class="item" th:href="@{/tp-admin/articles/input}">发布</a>
                <a href="tp-articlelist.html" class="active blue item" th:href="@{/tp-admin/articles}">博客列表</a>
            </div>
        </div>
    </div>
</header>

<!-- 中间部分 -->
<div class="m-container">
    <div class="ui container m-padding-tb">
        <form action="#" method="post" class="ui segment form">
            <input type="hidden" name="page">
            <div class="inline fields m-margin-none">
                <div class="field">
                    <input type="text" name="title" id="title" placeholder="文章标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div th:each="type: ${types}" class="item" data-value="1"
                                 th:data-value="${type.typeId}" th:text="${type.typeName}">错误日志
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="status" name="status">
                        <label for="status">已发布</label>
                    </div>
                </div>
                <div class="field">
                    <a href="#" class="ui red basic right button" id="clearBtn">
                        <i class="close icon"></i>清除
                    </a>
                </div>
                <div class="field">
                    <button type="button" class="ui teal basic button" id="searchBtn">
                        <i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </form>
        <div id="table-container">
            <table class="ui celled table" th:fragment="articleList">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>推荐</th>
                    <th>阅读量</th>
                    <th>点赞量</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article, iterStat: ${pageInfo.list}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${article.articleTitle}">12311111111</td>
                    <td th:text="${article.getArticleType().getTypeName()}">1111</td>
                    <td th:text="${article.getIsRecommend()? '是': '否'}">是</td>
                    <td th:text="${article.articleViews}">111</td>
                    <td th:text="${article.articleLikes}">2</td>
                    <td th:text="${article.articleStatus? '已发布': '草稿'}">已发布</td>
                    <td th:text="${#dates.format(article.articleUpdateTime, 'yyyy-MM-dd HH:mm')}">123123：0</td>
                    <td>
                        <a href="#" class="ui mini teal button"
                           th:href="@{/tp-admin/articles/edit/{id}(id=${article.articleId})}">编辑</a>
                        <a href="#" class="ui mini red button"
                           th:href="@{/tp-admin/articles/delete/{id}(id=${article.articleId})}">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="9" th:if="${pageInfo.pages}>1">
                        <div class="ui right floated pagination menu">
                            <a class="icon item" th:unless="${pageInfo.isIsFirstPage()}" onclick="page(this)"
                               th:attr="data-page=${pageInfo.getPrePage()}"
                               th:href="@{/tp-admin/articles(pageNum=${pageInfo.getPrePage()})}">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="icon item" th:unless="${pageInfo.isIsLastPage()}" onclick="page(this)"
                               th:attr="data-page=${pageInfo.getNextPage()}"
                               th:href="@{/tp-admin/articles(pageNum=${pageInfo.getNextPage()})}">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="ui section divider"></div>
</div>
<!-- footer -->
<footer class="ui vertical segment m-center">
    <div class="m-container m-center">
        <p class="m-text-lined m-text-spaced m-opacity-mini m-padding-tb-small">
            Copyright © 2020 Trumpet Press <br class="m-mobile-show"/>Designed by Li Boyan<br/>
            <a href="http://www.beian.miit.gov.cn/" style="text-decoration: none; color: black">京ICP备18036120号</a>
        </p>
    </div>
</footer>
<script>
    $('#menu-toggle').click(function () {
        $('.m-nav-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loadData();
    }

    $('#searchBtn').click(function () {
        $("[name='page']").val(0);
        loadData();
    });

    $('#clearBtn').click(function () {
        $('.ui.selection.dropdown').dropdown('clear');
        $('#title').val('');
    });

    function loadData() {
        $("#table-container").load(/*[[@{/tp-admin/articles/search}]]*/ "/tp-admin/articles/search", {
            articleTitle: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            isRecommend: $("[name='recommend']").checked(),
            articleStatus: $("[name='status']").checked(),
            pageNum: $("[name='page']").val()
        });
    }
</script>
<div>
    <button onclick="returnTop()" id="btnTop" title="返回顶部"><i class="arrow up icon"></i></button>
</div>
<noscript>为正常使用请激活JavaScript</noscript>
</body>
</html>