<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增分类 - Trumpet Press Admin - 喇叭芽的博客</title>
    <link rel="icon" href="../../static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/script.js"></script>
</head>
<body>
<div th:replace="admin/_fragments::script">
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
    <!--[if lte IE 8]>
    <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</div>
<!-- 导航 -->
<header>
    <nav class="ui attached inverted segment" th:replace="admin/_fragments::navi">
        <div class="m-container">
            <div class="ui secondary stackable inverted menu">
                <a href="tp-admin.html"><h2 class="ui blue header item">Trumpet Press 后台管理系统</h2></a>
                <a href="tp-admin.html" class="m-nav-item item m-mobile-hide">后台管理首页</a>
                <a href="tp-articlelist.html" class="m-nav-item item m-mobile-hide">文章管理</a>
                <a href="tp-typelist.html" class="m-nav-item item m-mobile-hide">分类管理</a>
                <a href="tp-taglist.html" class="m-nav-item item m-mobile-hide">标签管理</a>
                <a href="tp-setting.html" class="m-nav-item item m-mobile-hide">系统设置</a>
                <div class="right m-nav-item m-mobile-hide menu">
                    <a href="../index.html" class="m-nav-item item m-mobile-hide">返回主页</a>
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/Avatar.jpg" alt="Avatar">
                            Admin
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui white icon button m-right-top m-mobile-show" id="menu-toggle">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui breadcrumb m-padding-tb">
                当前位置：
                <a href="tp-admin.html" class="section" th:href="@{/tp-admin/admin}">网站管理</a>
                <i class="right angle icon divider"></i>
                <a href="tp-articlelist.html" class="section" th:href="@{/tp-admin/blogs}">分类管理</a>
                <i class="right angle icon divider"></i>
                <div class="active section">新建分类</div>
            </div>
            <div class="right menu">
                <a href="tp-type.html" class="active blue item" th:href="@{/tp-admin/types/input}">新增分类</a>
                <a href="tp-typelist.html" class="blue item" th:href="@{/tp-admin/types}">分类列表</a>
            </div>
        </div>
    </div>
</header>

<!-- 中间部分 -->
<div class="m-container">
    <div class="ui container m-padding-tb">
        <form action="#" class="ui form" method="post"
              th:action="${type.getTypeId()}==null? @{/tp-admin/types/input}: @{/tp-admin/types/edit/{id}(id=${type.getTypeId()})}">
            <input type="hidden" name="id" th:value="${type.getTypeId()}">
            <div class="required field m-padding-tb-great">
                <div class="ui labeled input">
                    <div class="ui label">分类名称</div>
                    <input type="text" name="typeName" placeholder="请输入新增分类的名称" th:value="${type.getTypeName()}">
                </div>
            </div>
            <div class="ui error message"></div>
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">确定</button>
            </div>
        </form>
        <div class="ui error message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class="ui section divider"></div>
</div>
<!-- footer -->
<footer class="ui vertical segment m-center">
    <div class="m-container m-center">
        <p class="m-text-lined m-text-spaced m-opacity-mini m-padding-tb-small">
            Copyright © 2020 Trumpet Press <br class="m-mobile-show"/>Designed by Li Boyan<br/>
            <a href="http://www.beian.miit.gov.cn/" style="text-decoration: none; color: black">京ICP备18036120号</a>
        </p>
    </div>
</footer>
<script>
    $('#menu-toggle').click(function () {
        $('.m-nav-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.ui.form').form({
        fields: {
            type: {
                identifier: 'type',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类名称'
                }]
            }
        }
    });
</script>
<div>
    <button onclick="returnTop()" id="btnTop" title="返回顶部"><i class="arrow up icon"></i></button>
</div>
<noscript>为正常使用请激活JavaScript</noscript>
</body>
</html>