<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类管理 - Trumpet Press Admin - 喇叭芽的博客</title>
    <link rel="icon" href="../../static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div th:replace="admin/_fragments::script">
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
    <!--[if lte IE 8]>
    <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</div>
<!-- 导航 -->
<header>
    <nav class="ui attached inverted segment" th:replace="admin/_fragments::navi">
        <div class="m-container">
            <div class="ui secondary stackable inverted menu">
                <a href="tp-admin.html"><h2 class="ui blue header item">Trumpet Press 后台管理系统</h2></a>
                <a href="tp-admin.html" class="m-nav-item item m-mobile-hide">后台管理首页</a>
                <a href="tp-articlelist.html" class="m-nav-item item m-mobile-hide">文章管理</a>
                <a href="tp-typelist.html" class="m-nav-item item m-mobile-hide">分类管理</a>
                <a href="tp-taglist.html" class="m-nav-item item m-mobile-hide">标签管理</a>
                <a href="tp-setting.html" class="m-nav-item item m-mobile-hide">系统设置</a>
                <div class="right m-nav-item m-mobile-hide menu">
                    <a href="../index.html" class="m-nav-item item m-mobile-hide">返回主页</a>
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/Avatar.jpg" alt="Avatar">
                            Admin
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui white icon button m-right-top m-mobile-show" id="menu-toggle">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui breadcrumb m-padding-tb">
                当前位置：
                <a href="tp-admin.html" class="section" th:href="@{/tp-admin/admin}">网站管理</a>
                <i class="right angle icon divider"></i>
                <a href="tp-articlelist.html" class="section" th:href="@{/tp-admin/types}">分类管理</a>
                <i class="right angle icon divider"></i>
                <div class="active section">分类列表</div>
            </div>
            <div class="right menu">
                <a href="tp-type.html" class="blue item" th:href="@{/tp-admin/types/input}">新增分类</a>
                <a href="tp-typelist.html" class="active blue item" th:href="@{/tp-admin/types}">分类列表</a>
            </div>
        </div>
    </div>
</header>

<!-- 中间部分 -->
<div class="m-container">
    <div class="ui container m-padding-tb">
        <div class="ui message m-text-lined" th:unless="${#strings.isEmpty(message)}" th:classappend="${type}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">添加成功</p>
        </div>
        <!--        <form action="#" method="post" class="ui segment form">-->
        <!--            <div class="field m-margin-none">-->
        <!--                <div class="ui icon input">-->
        <!--                    <input type="text" placeholder="分类名称">-->
        <!--                    <i class="circular search link icon"></i>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </form>-->
        <table class="ui celled table">
            <thead>
            <tr>
                <th>序号</th>
                <th>类别名称</th>
                <th>文章数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type, iterStat: ${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.typeName}">123</td>
                <td th:text="${type.typeCount}">111</td>
                <td>
                    <a href="#" class="ui mini teal button"
                       th:href="@{/tp-admin/types/edit/{id}(id=${type.typeId})}">编辑</a>
                    <a href="#" class="ui mini red button" th:href="@{/tp-admin/types/delete/{id}(id=${type.typeId})}">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" th:if="${pageInfo.pages}>1">
                    <div class="ui right floated pagination menu">
                        <a class="icon item" th:unless="${pageInfo.isIsFirstPage()}"
                           th:href="@{/tp-admin/types(pageNum=${pageInfo.getPrePage()})}">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="icon item" th:unless="${pageInfo.isIsLastPage()}"
                           th:href="@{/tp-admin/types(pageNum=${pageInfo.getNextPage()})}">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="ui section divider"></div>
</div>
<!-- footer -->
<footer class="ui vertical segment m-center">
    <div class="m-container m-center">
        <p class="m-text-lined m-text-spaced m-opacity-mini m-padding-tb-small">
            Copyright © 2020 Trumpet Press<br class="m-mobile-show"/>Designed by Li Boyan<br/>
            <a href="http://www.beian.miit.gov.cn/" style="text-decoration: none; color: black">京ICP备18036120号</a>
        </p>
    </div>
</footer>
<script>
    $('#menu-toggle').click(function () {
        $('.m-nav-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });
</script>
<div>
    <button onclick="returnTop()" id="btnTop" title="返回顶部"><i class="arrow up icon"></i></button>
</div>
<noscript>为正常使用请激活JavaScript</noscript>
</body>
</html>