<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
Error
<!--<div>-->
<!--    <div th:remove="tag" th:utext="'&lt;!&#45;&#45;'"></div>-->
<!--    <div th:remove="tag" th:utext="'Failed Request URL: ' + ${url}"></div>-->
<!--    <div th:remove="tag" th:utext="'Exception message:' + ${exception.message}"></div>-->
<!--    <ul th:remove="tag">-->
<!--        <li th:each="st: ${exception.stackTrace}" th:remove="tag">-->
<!--            <span th:remove="tag" th:utext="${st}"></span>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <div th:remove="tag" th:utext="'&#45;&#45;&gt;'"></div>-->
<!--</div>-->
</body>
</html>